body { width: 50%;  margin-left: auto;
    margin-right: auto;
    text-align: center; align-content: start;
}

.introduction {
    background-color: #ededed
}

.endintro {
    height: 2px;
    border-width: 1;
    color: #daa502;
    background-color: #daa502
}
img{background-position: 50% 50%;}


h1 {
    font-style: normal;
    text-transform: uppercase
}

h2 {
    color: #daa502;
}

h3 {
    font-style: oblique;
    font-weight: bold;
}

 
.fine {
    width: 100%;
    border-top-color: #daa502;
}